spring:
  application:
    name: word-of-yum

  datasource:
    username: myuser
    url: jdbc:postgresql://localhost:5432/mydatabase
    password: secret
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      ddl-auto: update
    properties:
      hibernate:
        format_sql: 'true'
    show-sql: 'true'
logging:
  level:
    io.usnack: debug
    root: info